body {
    background-color: #333
}

.container {
    background-color: #494747;
    color: white;
    text-align: center;
}

.pull-right img-thumbnail {
    margin-top: -10px;
    margin-bottom: 10px
}

.header-row {
    margin-top: 20px
}

.banner-img {
    margin-bottom: 20px
}

.navbar {
    margin-bottom: 0;
}

.product-img {
    width: 70%;
}
h4{
    text-align: center;

;
}